table {border: 2px solid #D1D1E1; background: #F5F5FF; font-size:12px; color:#24229C; border-collapse: collapse;}
table th {background: #405988; color: #fff;}
table th, table td {border: 1px solid #D1D1E1;}
table td{padding: 5px 0 5px 20px;}
span.name{font-weight: bold; font:14px;}

.navBar{margin: 0 0 20px 0;}
a, .navBar a {font-size:12px; color:#415787;}
div.mT10 {margin: 10px 0 0;}